body {
    background-color: brown;
}

.text-menu-color {
    color: white;
}

.trend-pox {
    align-content: end;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}